@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Family Tree System.</p>
</div>

<div class="row">
    <div class="col-lg-12">
        <a asp-action="AddPerson" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add Person</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">

    </div>
</div>